html {
    height: 100vh;
}

body {
    background-image: url("../images/papyrus.png");
    background-color: #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 1.5;
}


h4 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    padding-bottom: 0.5em;
}

p {
    padding-top: 0.5em;
}


.navbar {
    background-color: #ffffff;
    padding: 0;
    border-bottom: 1px solid #cccccc;
}

.navbar .navbar-brand {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    background-color: #4aaaa5;
    margin: 0;
}

.container  {
    max-width: 960px;
}

.mainContent {
    margin-top: 1em;
    padding: 2em;
    background-color: white;
    border: 1px solid #dddddd;
}

.me {
    float: left;
    padding-top: 0.5em;
    padding-right: 0.5em;
}

.btn {
    background-color: #4aaaa5;
    color: #ffffff;
}

.row {
    margin-top: 2em;
    margin-bottom: 2em;
}

.col-12 {
    margin-top: 2em;
}

.card-img-overlay {
    padding: 0;
}

.card-title {
    height: 25%;
    width: auto;
    background-color:  #4aaaa5;
    margin-top: 46%;
    padding: 0.6em;
}

.bottomLine {
    height: 0.5em;
    background-color:  #4aaaa5;
    margin-bottom: 2.5em;
}

.footer {
    background-color: #666666;
    color: #ffffff;
}
