body {
    background-color: #C56D00;
    font-family: 'Cinzel', serif;
    text-align: center;
} 

h1 {
    padding-top: 2%;
    font-weight: 700;
}

p {
    font-size: 1.5em;
}

.main {
    background: url("../images/columns.png") center no-repeat;
    width: 1280px;
    height: 788px;
    padding-top: 20%;
    padding-left: 10%;
    padding-right: 10%;
}
