body {
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
}

.navbar {
    background-color: gray;
}

.mainContent {
    padding: 100px 0 100px 0;
}

.right {
    float: right;
    background-color: red;
    width: 25%;
    height: 500px;
}

.left {
    float: left;
    background-color: blue;
    width:50%;
    height: 500px;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: green;
    height: 40px;
    width: 100%;
}